@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
  color: white;
}
.drawer-side a {
  background-color: transparent;
}

.dark-theme {
  background-color: rgba(13, 1, 1, 0.955);
  color: aliceblue;
}

.white-theme {
  background-color: aliceblue;
  color: rgba(13, 1, 1, 0.72);
}
